html, body, #app, #app > div {
    height: 100%;
}

body {
    margin: 0;
}

.left-bar {
    width: 20%;
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.message-list {
    width: calc(80% - 5px);
    display: inline-block;
    height: 100%;
}