html, body, #app, #app > div {
    height: 100%;
}

body {
    background-color: #edeef0;
    margin: 0;
}

header {
    width: 100%;
    background-color: #537380;
    height: 45px;
}

header > a > h1 {
    cursor: pointer;
    display: inline-block;
    margin-left: 20%;
    margin-top: 10px;
    color: white;
    font-size: 20px;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
}

header > a {
    outline: 0;
}

header div.right-menu {
    display: inline-block;
    float: right;
    margin-right: 20%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
header div.right-menu:hover {
    background-color: #4a6b78;
    cursor: pointer;
}

header div.right-menu > h4 {
    display: inline-block;
    vertical-align: middle;
    margin-top: 8px;
    margin-bottom: 0;
    margin-right: 11px;
    font-size: 12px;
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
}

header div.right-menu > img {
    vertical-align: middle;
    height: 30px;
    width: 30px;
    border-radius: 40px;
    margin-top: 7px;
}

header div.right-menu > i {
    color: white;
    font-size: 15px !important;
    vertical-align: middle;
    margin: 5px;
    padding-top: 7px;
}

.content {
    width: 60%;
    margin-left: 20%;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: white;
    margin-top: 1px;
    height: calc(100% - 57px);
}

.content .left-bar {
    display: inline-block;
    height: 100%;
    width: 30%;
    border-right: 1px solid #E4E6E9;
}

.content .left-bar .search-block {
    height: 45px;
    padding-top: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #E4E6E9;
}

.content .left-bar .search-block input {
    background-color: #FFF;
    border: medium none;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 10px;
    width: 85%;
}

.content .left-bar .search-block i {
    margin-left: 5px;
    color: #EAEEEF;
}

.content .message-block {
    width: calc(69% + 4px);
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.content .message-block > h1 {
    font-size: 14px;
    width: 200px;
    margin-left: calc(50% - 85px);
    color: rgba(83, 115, 128, 0.21);
}

.content .message-block > i {
    color: rgba(83, 115, 128, 0.12);
    font-size: 100px;
    width: 100px;
    height: 100px;
    margin-left: calc(50% - 50px);
    margin-top: calc(50% - 50px);
}

.content .message-block .header {
    border-bottom: 1px solid #E4E6E9;
}

.content .message-block .header img {
    width: 35px;
    height: 35px;
    border-radius: 40px;
    margin: 10px 15px 10px 30px;
    vertical-align: middle;
}

.content .message-block .header h4 {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    margin-top: 3px;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    color: #2d2d2d;
    font-size: 14px;
    word-spacing: -2px;
}

.content .message-block .message-list {
    overflow: auto;
    height: calc(100% - 121px);
    padding-right: 50px;
    padding-left: 50px;
}

.content .left-bar .contact-list {
    height: calc(100% - 110px);
}

.content .left-bar .contact-list > ul {
    overflow: auto;
    height: 100%;
    margin-top: 5px;
    padding: 0;
    width: 100%;
    list-style: none;
}

.content .left-bar .contact-list > ul > li {
    padding-right: 10px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    cursor: pointer;
}

.content .left-bar .contact-list > ul > li:hover {
    background: rgba(83, 115, 128, 0.12);
}

.content .left-bar .contact-list > ul > li > img, .message-block > .message-list > .message-item > img {
    width: 50px;
    height: 50px;
    border-radius: 65px;
    margin-right: 10px;
}

.message-block > .message-list > .message-item > .message-info > h4 {
    color: #537380;
}

.message-block > .message-list > .message-item > img {
    width: 40px;
    height: 40px;
}

.message-block > .header > i {
    cursor: pointer;
    float: right;
    margin-top: 17px;
    margin-right: 30px;
    font-size: 22px;
    color: #537380;
}

.content .left-bar .contact-list > ul > li > .friend-info {
    display: inline-block;
    width: calc(100% - 70px);
    vertical-align: top;
}

.content .left-bar .contact-list > ul > li .message-info {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.message-block > .message-list > .message-item > .message-info {
    display: inline-block;
    width: calc(100% - 140px);
    vertical-align: top;
}

.content .left-bar .contact-list > ul > li > .message-info.contacts-info {
    width: calc(100% - 60px);
}

.content .left-bar .contact-list > ul > li .message-info > h4, .message-block > .message-list > .message-item > .message-info > h4 {
    color: #2d2d2d;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    font-size: 13px;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    margin-bottom: 0;
}

.message-block > .message-list > .message-item > .message-info > h4 {
    color: #537380;
    margin-top: 0;
}

.content .left-bar .contact-list > ul > li > .friend-info > .message-clock > p {
    margin: 0;
    font-size: 11px;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    color: #787878;
    display: inline-block;
}

.message-block > .message-list > .message-item > .message-info > p {
    color: #787878;
    font-size: 11px;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
}

.message-block > .message-list > .message-item > .message-info > p {
    color: #151515;
    font-size: 13px;
    margin-top: 6px;
    margin-bottom: 25px;
    word-break: break-all;
}

.content .left-bar .contact-list > ul > li > .friend-info > .message-clock {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.message-block > .message-list > .message-item > .message-clock {
    vertical-align: top;
    width: 70px;
    display: inline-block;
}

.content .left-bar .contact-list > ul > li > .friend-info > .message-info > strong, .message-block > .message-list > .message-item > .message-clock > strong {
    font-weight: 400;
    font-size: 11px;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    color: #b3b3b3;
    float: right;
    margin-right: 5px;
    margin-top: 6px;
}

.content .left-bar .contact-list > ul > li > .friend-info > .message-clock > div   {
    height: 20px;
    width: 20px;
    border-radius: 30px;
    background-color: red;
    display: none;
}

.content .left-bar .contact-list > ul > li.active {
    background-color: #537380;
    border-left: 3px solid #3c4c5f;
    padding-left: 12px;
}

.content .left-bar .contact-list > ul > li > .message-info > .active-contact {
    color: rgb(58, 116, 58);
    font-size: 12px;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
}

.content .left-bar .contact-list > ul > li > .message-info > .active-contact div {
    width: 8px;
    height: 8px;
    border-radius: 15px;
    background-color: #3A743A;
    display: inline-block;
}

.content .left-bar .contact-list > ul > li.active > .friend-info > .message-info > h4,
.content .left-bar .contact-list > ul > li.active > .message-info > p,
.content .left-bar .contact-list > ul > li.active > .friend-info > .message-clock > p,
.content .left-bar .contact-list > ul > li.active > .friend-info > .message-clock > strong {
    color: white !important;
}

.message-block > .message-send {
    height: 45px;
    padding: 10px 65px 10px 65px;
}

.message-block > .message-send > input, .message-block > .message-send > textarea {
    font-size: 13px;
    height: 30px;
    resize: none;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    word-wrap: break-word;
    width: calc(100% - 75px);
    border: none;
    border-bottom: 3px solid #537380;
    background-color: #FFF;
}

.message-block > .message-send > button {
    vertical-align: 10px;
    width: 37px;
    height: 37px;
    border-radius: 50px;
    border-style: none;
    margin-left: 13px;
    background-color: #537380;
    color: white;
    padding-left: 5px;
    cursor: pointer;
}

.message-list-top {
    width: 100%;
    height: 60px;
}

/*Login page style*/

header.login-header {
    background-color: #537380;
    height: 250px;
}

.login-block {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    height: 400px;
    padding: 20px 70px;
    width: 210px;
    margin-top: -75px;
    background-color: white;
    border-radius: 2px;
    margin-left: calc((100% - 850px) / 2);
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    display: inline-block;
    vertical-align: top;
}

.login-block h4 {

}
.login-block p {
    line-height: 160%;
    font-size: 12px;
    color: #909090;
}
.login-block input {
    background-color: #FFF;
    width: 100%;
    border: none;
    border-bottom: 2px solid #537380;
    height: 32px;
    margin-top: 30px;
}
.login-block button.next-btn {
    float: right;
    margin-top: 105px;
    border: none;
    cursor: pointer;
    background-color: white;
    font-size: 15px;
    font-weight: 600;
    color: black;
    margin-bottom: 15px;
}

.login-block button.next-btn:hover {
    color: #537380;
}

.login-block button.next-btn i {
    font-size: 19px;
    font-weight: 600;
    vertical-align: top;
    margin-left: 5px;
}

.reg-block {
    margin-left: 150px;
}

.reg-block button {
    border: none;
    border-bottom: 2px solid #537380;
    background-color: white;
    cursor: pointer;
    margin: 60px;
    color: #537380;
}

.reg-block button i {
    font-size: 60px ;
}


/*Create account style*/

.account-create-block {
    margin-left: calc(50% - 210px);
    width: 280px;
    padding-bottom: 40px;
    height: auto;
}

.account-create-block img {
    margin: 30px calc(50% - 30px) 0;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 100px;
}

.left-btn-list {
    padding: 5px 0;
    margin-top: 5px;
}

.left-btn-list button {
    margin-left: 10px;
    height: 25px;
    border-radius: 15px;
    width: 40%;
    font-size: 13px;
    cursor: pointer;
    border: 2px solid #537380;
    background: white;
    color: #537380;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
}

.left-btn-list button:first-child {
    margin-left: calc(10% - 5px);
}

.left-btn-list button.active {
    border: none;
    background: #537380;
    color: white;
}

.top-dropdown-menu {
    display: inline-block;
    position: absolute;
    right: 20%;
    top: 52px;
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #C5D0DB;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: opacity 100ms linear 0s, top 100ms linear 0s, visibility 100ms linear 0s;
    border-radius: 3px;
    width: 130px;
}

hr {
    width: 80%;
    color: rgba(83, 115, 128, 0.12);
}

.top-dropdown-menu-close {
    display: none;
}

.top-dropdown-menu ul {
    padding: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    list-style-type: none;
    margin: 0;
    font-size: 13px;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
}

.top-dropdown-menu ul li {
    padding: 9px 9px 9px 15px;
    cursor: pointer;
    color: #537380;
}

.top-dropdown-menu ul li:hover {
    background: rgba(83, 115, 128, 0.12);
}

.top-dropdown-menu:before{
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    bottom: 100%;
    right: 42px}

.top-dropdown-menu:before{
    border-width: 6px;
    margin: 0 -6px;
    border-bottom-color: #c5d0db
}

.top-dropdown-menu:after{
    border-width: 5px;
    margin: 0 -5px;
    border-bottom-color: #fff
}

button:focus, input:focus, textarea:focus {
    outline: none !important;
}