{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messenger</title>
    <link rel="stylesheet" type="text/css" href="assets/style/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="app"></div>

    <script src="https://vk.com/js/api/openapi.js?144" type="text/javascript"></script>
    <script>
        VK.init({
            apiId: "5967796"
        });
    </script>
    <script src="{% static 'app/build.js' %}"></script>
</body>
</html>
